:root {
  font-size: 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #969696;

  background-color: #000;
  background-image: url("./assets/background_tile.jpg");
  background-position-x: center;
  background-repeat: repeat-y;
}

a {
  color: #90c040;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
}

thead {
  font-weight: bold;
}

th,
td {
  padding: 0.25rem 0.5rem;
}

th[align="right"],
td[align="right"] {
  text-align: right;
}

th[align="center"],
td[align="center"] {
  text-align: center;
}
